@media (max-width: 769px) {
  body {
    background-color: black;
  }
  .container {
    background: url("/assets/backgroundrafa-mobile.jpg") no-repeat;
  }

  .container .flex .card1,
  .container .flex .card2 {
    width: 340px;
  }
}
@media (max-width: 425px) {
  .header .logoFlex img {
    width: 30%;
  }

  .container .flex {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .container .flex .card1,
  .container .flex .card2 {
    width: 350px;
  }
}
